# IPL Scraper

In [104]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [105]:
link = 'https://www.iplt20.com/auction/2022'
res = requests.get(link)
#print(res.text)

In [106]:
soup = BeautifulSoup(res.text,"lxml")
# print(soup)

In [107]:
table = soup.find("table",class_ = 'ih-td-tab auction-tbl')
#print(table)
title = table.find_all('th')
print(title)

[<th class="skip-filter" style="width:25%;text-align: left;">SR. NO.</th>, <th class="skip-filter" style="width:25%;text-align: left;">TEAM</th>, <th class="skip-filter" style="width:25%;">FUNDS REMAINING</th>, <th class="skip-filter" style="width:25%;">OVERSEAS PLAYERS </th>, <th class="skip-filter" style="width:25%;">TOTAL PLAYERS</th>]

In [108]:
table_header = []
for i in title:
    name = i.text
    table_header.append(name)

In [109]:
print(table_header)

['SR. NO.', 'TEAM', 'FUNDS REMAINING', 'OVERSEAS PLAYERS ', 'TOTAL PLAYERS']

In [110]:
df = pd.DataFrame(columns=table_header)
df.head()

Empty DataFrame
Columns: [SR. NO., TEAM, FUNDS REMAINING, OVERSEAS PLAYERS , TOTAL PLAYERS]
Index: []

In [111]:
table_row = table.find_all('tr')
#print(table_row)

In [112]:
for i in table_row[1:]:
    data = i.find_all('td')
    #print(data)
    row = [tr.text.strip() for tr in data]
    #print(row)
    l = len(df)
    df.loc[l] = row

In [113]:
df

,SR. NO.,TEAM,FUNDS REMAINING,OVERSEAS PLAYERS,TOTAL PLAYERS
0,1,Chennai Super Kings,"₹2,95,00,000",8,25
1,2,Delhi Capitals,"₹10,00,000",7,24
2,3,Gujarat Titans,"₹15,00,000",8,23
3,4,Kolkata Knight Riders,"₹45,00,000",8,25
4,5,Lucknow Super Giants,₹0,7,21
5,6,Mumbai Indians,"₹10,00,000",8,25
6,7,Punjab Kings,"₹3,45,00,000",7,25
7,8,Rajasthan Royals,"₹95,00,000",8,24
8,9,Royal Challengers Bangalore,"₹1,55,00,000",8,22
9,10,Sunrisers Hyderabad,"₹10,00,000",8,23

In [114]:
df.to_csv("extracted_data.csv")