# IPL Scraper

In [72]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [91]:
link = 'https://www.iplt20.com/auction/2022'
res = requests.get(link)
#print(res.text)

In [74]:
soup = BeautifulSoup(res.text,"lxml")
# print(soup)

In [75]:
table = soup.find("table",class_ = 'ih-td-tab auction-tbl')
#print(table)
title = table.find_all('th')
print(title)

[<th class="skip-filter" style="width:25%;text-align: left;">SR. NO.</th>, <th class="skip-filter" style="width:25%;text-align: left;">TEAM</th>, <th class="skip-filter" style="width:25%;">FUNDS REMAINING</th>, <th class="skip-filter" style="width:25%;">OVERSEAS PLAYERS </th>, <th class="skip-filter" style="width:25%;">TOTAL PLAYERS</th>]

In [76]:
table_header = []
for i in title:
    name = i.text
    table_header.append(name)

In [77]:
print(table_header)

['SR. NO.', 'TEAM', 'FUNDS REMAINING', 'OVERSEAS PLAYERS ', 'TOTAL PLAYERS']

In [78]:
df = pd.DataFrame(columns=table_header)
df.head()

Empty DataFrame
Columns: [SR. NO., TEAM, FUNDS REMAINING, OVERSEAS PLAYERS , TOTAL PLAYERS]
Index: []

In [92]:
table_row = soup.find_all('tr')
#print(table_row)

In [89]:
for i in table_row[1:]:
    data = i.find_all('td')
    #print(data)
    row = [tr.text for tr in data]

In [90]:
print(row)

['A 22-year old opening batsman who hails from Pune, Ruturaj Gaikwad has been a consistent performer for his state team Maharashtra. He was the highest run-getter for Maharashtra in the league stage of the Syed Mushtaq Ali Trophy 2018-19. At the IPL 2019 Player Auction, the Chennai Super Kings secured his services at his base price of INR 20 lacs.', '']